<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Machine Learning - 2301CS621</b></center>
<center><b><h1>Lab - 1</b></center>
<h2>Name: Mudit Bhatt</h2>
<h2>Enrollment: 23010101607</h2>    
<pre>

## Step 1. Import the necessary libraries

In [2]:
import pandas as pd

## Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [6]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
rcsv = pd.read_csv(url, sep="\t")

### Step 4. See the first 10 entries

In [7]:
print(rcsv.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### Step 5. What is the number of observations in the dataset?

In [8]:
print("Number of observations:: ", rcsv.shape[0])

Number of observations::  4622

### Step 6. What is the number of columns in the dataset?

In [9]:
print("Number of columns:: ", rcsv.shape[1])

Number of columns::  5

### Step 7. Print the name of all the columns.

In [10]:
print("Columns:")
print(rcsv.columns.tolist())

Columns:
['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [11]:
print("Dataset Indexed: ",rcsv.index)

Dataset Indexed:  RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [13]:
most_ordered = rcsv['item_name'].value_counts().idxmax()
print("Most ordered item is: ", most_ordered)

Most ordered item is:  Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [15]:
most_ordered_count = rcsv[rcsv['item_name'] == most_ordered]['quantity'].sum()
print("most ordered count: ",most_ordered_count)

most ordered count:  761

### Step 11. What was the most ordered item in the choice_description column?

In [16]:
most_ordered_choice = rcsv['choice_description'].value_counts().idxmax()
print("Most ordered choice is: ", most_ordered_choice)

Most ordered choice is:  [Diet Coke]

### Step 12. How many items were orderd in total?

In [17]:
total_items_ordered = rcsv['quantity'].sum()
print("Total items ordered: ",total_items_ordered)

Total items ordered:  4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [19]:
print("Item price type: ", rcsv['item_price'].dtype)

Item price type:  object

#### Step 13.b. Create a lambda function and change the type of item price

In [20]:
rcsv['item_price'] = rcsv['item_price'].apply(lambda x: float(x[1:]))

#### Step 13.c. Check the item price type

In [21]:
print("Updated item price type:", rcsv['item_price'].dtype)

Updated item price type: float64

### Step 14. How much was the revenue for the period in the dataset?

In [22]:
revenue = (rcsv['quantity'] * rcsv['item_price']).sum()
print("Total revenue: ", revenue)

Total revenue:  39237.02

### Step 15. How many orders were made in the period?

In [23]:
total_orders = rcsv['order_id'].nunique()
print("Total orders made: ", total_orders)

Total orders made:  1834

### Step 16. What is the average revenue amount per order?

In [24]:
average = revenue / total_orders
print("Average Revenue Amount per Order is: ", average)

Average Revenue Amount per Order is:  21.39423118865867

### Step 17. How many different items are sold?

In [26]:
items_sold = rcsv['item_name'].nunique()
print("Total different items sold are: ", items_sold )

Total different items sold are:  50

### Download titanic CSV from internet and read the CSV file

### Step 1. Calculate the total number of missing data in each attribute

In [27]:
import pandas as pd

df = pd.read_csv("titanic.csv")

missing_data = df.isnull().sum()
print("Total Missing Data: ",missing_data)

Total Missing Data:  PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             30
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          125
Embarked         1
dtype: int64

### Step 2. Replace missing values with mean and median

In [30]:
num_cols = df.select_dtypes(include=['float64', 'int64']).columns
df[num_cols] = df[num_cols].fillna(df[num_cols].mean())

df[num_cols] = df[num_cols].fillna(df[num_cols].median())

cat_cols = df.select_dtypes(include=['object']).columns
for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

missing_data_after = df.isnull().sum()
print("Total Missing Data After Replacement:\n", missing_data_after)

Total Missing Data After Replacement:
 PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

### Step 3. Replace missing values by category-wise mean (e.g., by gender or other criteria)

In [31]:
df['Age'] = df.groupby('Sex')['Age'].transform(lambda x: x.fillna(x.mean()))

df['Fare'] = df.groupby('Pclass')['Fare'].transform(lambda x: x.fillna(x.mean()))

missing_data_after = df.isnull().sum()
print("Total Missing Data After Replacement:\n", missing_data_after)

Total Missing Data After Replacement:
 PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

### Step 4. Calculate the number of duplicate rows and remove duplicates

In [32]:
num_duplicates = df.duplicated().sum()
print("Number of duplicate rows:", num_duplicates)

df_cleaned = df.drop_duplicates()

print("Shape of DataFrame before removing duplicates:", df.shape)
print("Shape of DataFrame after removing duplicates:", df_cleaned.shape)

Number of duplicate rows: 0
Shape of DataFrame before removing duplicates: (156, 12)
Shape of DataFrame after removing duplicates: (156, 12)

Good Job